combined.tex
.venv/
.DS_Store

# LaTeX output files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.lol
*.xmpdata
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.xdv
*.dvi
*.ps
*.bbl-SAVE-ERROR
*.pytxcode
pythontex-files-*/

main.pdf
*.md
scripts/
notebooks/